*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  background: #d5eaf2;
  margin: 0 auto 0;
  word-break: break-all;
  padding: 3px;
  padding-top: 1px;
  border-radius: 5px;
}

.bloc-tabs {
  display: flex;
}
.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
  font-weight: 500;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 4px;
  background: rgb(46 64 70 / 79%) !important;
}

.card{
  border: none !important;
}

button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;

  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
li{
  list-style: none;
}
.avatar {
  height: 150px;
  border-radius: 25px;
  margin: 10px;
}
.avatar2{
  height: 50px;
  border-radius: 50px;
}
.card-body {
    display: flex;
    flex-direction: row;
}
ul{
  padding-left: 0em;
}
.card-body2{
  display: flex;
    flex-direction: column;
}
.bg-light{
 
  color: #222 !important;
}

a{
  text-decoration: none;
  color:  #222;
  
}
.container-fluid{
  border-bottom: solid 3px rgb(46 64 70 / 79%) !important;
}
.active{
  color: rgb(46 64 70 / 79%) !important;
  background-color:rgba(144, 202, 221, 0.79) !important;
  font-weight: bolder;
  padding: 20px 40px 20px;
  border-radius: 20px 20px 0px 0px;
}
ul{
  padding: 0px !important;
  margin: 0px !important;
}


.navbar {
  padding: 0px !important;
}
.btn-primary
{
  background: rgb(46 64 70 / 79%) !important;
  border: none;
}
.bg-primary{
  background: #cfe3ea !important;
  border: none !important;
  border-radius: 5px;
}
.bg-special
{
  background: #cfe3ea !important;
}
.resultheader{
  border: none !important; 
}
.resultcard{
  border: solid #DC3545 1px !important; 
  border-radius: 5px;
}
.bg-my
{
  background: rgb(46 64 70 / 79%) !important;
  color: white !important;
  border: none;
}
